
<div class="page-header">
     <h1>Lokasjoner <small>administrer lokasjoner her</small></h1>
</div>

<div class='well'>
    <%=link_to "Opprett ny lokasjon", new_admin_location_url, :class => "btn"%>
</div>

   <div class="row">
     <div class="span16">
       <table class="zebra-striped">
      <thead>
      <th>Navn</th>
      <th>Region</th>
    <th>Underlagt lokasjon</th>
      <th>&nbsp;</th>
      </thead>
      <tbody>
      <%for location in @locations%>
        <tr>
          <td><%=link_to location.name, admin_location_url(location)%></td>
          <td><%=location.region.name rescue nil%></td>
          <td><%=location.location.name rescue nil%></td>
          <td><%=link_to "Endre lokasjon", edit_admin_location_url(location)%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
     </div>
   </div>



