
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type='text/javascript'>
  Backbone.Model.prototype.idAttribute = "_id";
  $(document).ready(function(){
        window.activities = new window.Activities()
        window.categories = new window.Categories()
        window.regions = new window.Regions()
        new window.App().initialize()
        window.activities.reset(<%=@activities.to_json.html_safe%>)
        window.categories.reset(<%=@categories.to_json.html_safe%>)
        window.regions.reset(<%=@regions.to_json.html_safe%>)
        window.activities.showInMap()
        window.categories.render()
        window.targets = new window.Targets()
        window.targets.reset(<%=Activity.targets.map{|t| {:name => t}}.to_json.html_safe%>)
        window.targets.render()
        window.regions.render()
        $("#region_select").change(function(e){
          window.searcher.setRegion($(e.currentTarget).val())
        });
        var monthNames = ['Januar','Februar','Mars','April','Mai','Juni','Juli','August','September','Oktober','November','Desember']
        var dayNamesMin = ['Sø', 'Ma', 'Ti', 'On', 'To', 'Fr', 'Lø']
        $("#dtstart").datepicker({dateFormat: 'dd.mm.yy', dayNamesMin: dayNamesMin, monthNames: monthNames, onSelect: function(dateText, inst) { window.searcher.setStartDate(dateText)}})
        $("#dtend").datepicker({dateFormat: 'dd.mm.yy', dayNamesMin: dayNamesMin, monthNames: monthNames, onSelect: function(dateText, inst) { window.searcher.setEndDate(dateText)}})
    Handlebars.registerHelper('downcase', function(string) {
      return string.toLowerCase()
    });
        Handlebars.registerHelper('formatted_time', function(date_time) {
      var d = new Date(date_time);
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //months are zero based
        var curr_year = d.getFullYear();
        return curr_date + "." + curr_month + "." + curr_year;

        });
  })
</script>

<div id='searchbar'>
  <div id='map_topbar'>
      <%=image_tag 'logo.png', :alt => "", :height => 30%>
    </div>
  <div id='searchbar_inner'></div>
</div>
<div id="map_canvas"></div>


<script type='template' id='searchbar_tmpl'>

  <div class="clearfix">
     <div class="input">
       <div class="input-prepend">
         <span class="add-on">Søk</span>
         <input class="large" id="search_field" size="16" type="text">
       </div>
     </div>
  </div>
  <div id='loading_container'>
  <%=image_tag "loader.gif", :alt => ""%>
  </div>
<div class="clearfix"><h3 id='status'></h3></div>


<h3>Tema</h3>
<div class="clearfix">
   <div class="input">
      <ul class="inputs-list" id='category_list'></ul>
   </div>
</div>

<h3>Målgruppe</h3>
<div class="clearfix">
   <div class="input">
      <ul class="inputs-list" id='target_list'></ul>
   </div>
</div>

<h3>Region</h3>
<select name="regionSelect" id="region_select">
  <option value=''>Alle</option>
</select>

<br/><br/>
<h3>Når</h3>
<table>
  <th>Tidligst</th><th>Senest</th>
  <tr>
    <td><%=text_field_tag :dtstart, "", :class => "small"%></td>
    <td><%=text_field_tag :dtend, "", :class => "small"%></td>
  </tr>
</table>
</script>

<script type='template', id='activity_tmpl'>
    <div class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>{{activity.summary}}</h3>
      </div>
      <div class="modal-body">
      <ul class="tabs">
          <li class="active"><a href="#info_{{uniq_id}}">Informasjon</a></li>
          <li><a href="#contact_{{uniq_id}}">Kontaktinformasjon</a></li>
          <li><a href="#price_{{uniq_id}}">Pris</a></li>
      </ul>

      <div class="pill-content">
          <div class="active" id="info_{{uniq_id}}" style='overflow:none;'>
      <table>
        <tr><td>{{activity.description}}</td></tr>
      <tr>
        <td><b>Hvor:</b> {{activity.location.name}}
        {{activity.address}}
        </td>
      </tr>
  <tr>
        <td><b>Når:</b> {{formatted_time activity.dtstart}} - {{formatted_time activity.dtend}}
        </td>
      </tr>
      <tr><td><b>Husk:</b> {{activity.responsibility}} Ta med {{downcase activity.vehicle}}.</td></tr>
      <tr><td colspan=2><a href={{activity.video}} target='_blank'>Video</a></td></tr>
      </table>


          </div>
          <div id="contact_{{uniq_id}}">
          <table>
          <tr><td>Kontaktperson: </td><td>{{activity.contact_name}}</td></tr>
          <tr><td>Telefon: </td><td>{{activity.contact_phone}}</td></tr>
          <tr><td>E-post: </td><td>{{activity.contact_mail}}</td></tr>
          </table>
          {{contact}}
          </div>

          <div id="price_{{uniq_id}}">
      {{#if free}}
        Aktiviteten er gratis.
      {{else}}
            <table>

            <tr>
              <td>Pris:</td><td>{{activity.price}},-</td>
            </tr>

          {{#if activity.member_price}}
            <tr>
              <td>Medlemspris:</td><td>{{activity.member_price}},-</td>
            </tr>
          {{/if}}
            <tr>
              <td>MVA:</td><td>{{#if activity.mva}}inkludert{{else}}kommer i tillegg{{/if}}</td>
            </tr>

            </table>
      {{/if}}
        </div>

    </div>

     </div>
      <div class="modal-footer">
        <a href="{{activity.url}}" class="btn primary" target="_blank">Påmelding og mer informasjon</a>
      </div>
    </div>



</script>

<script type='template' id='category_tmpl'>
    <label>
      <input type="checkbox" class="category_box" _id="{{_id}}">
      <span>{{name}}</span>
    </label>
</script>

<script type='template' id='target_tmpl'>
    <label>
      <input type="checkbox" class='target_box' name="{{name}}">
      <span>{{name}}</span>
    </label>
</script>


