
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type='text/javascript'>
  Backbone.Model.prototype.idAttribute = "_id";
  $(document).ready(function(){
        window.activities = new window.Activities()
        window.categories = new window.Categories()
        window.regions = new window.Regions()
        new window.App().initialize()
        window.activities.reset(<%=@activities.to_json.html_safe%>)
        window.categories.reset(<%=@categories.to_json.html_safe%>)
        window.regions.reset(<%=@regions.to_json.html_safe%>)
        window.activities.showInMap()
        window.categories.render()
        window.targets = new window.Targets()
        window.targets.reset(<%=Activity.targets.map{|t| {:name => t}}.to_json.html_safe%>)
        window.targets.render()
        window.regions.render()
      $("#region_select").change(function(e){
      window.searcher.setRegion($(e.currentTarget).val())
      });
    $("#date_selector").dateRangeSlider({
      defaultValues:{min:new Date(2010,1,111), max:new Date(2011,1,11)},
      bounds:{min:new Date(2010,0,1), max:new Date(2012,0,1)},
      wheelMode: null,
      wheelSpeed: 8,
      arrows: true,
      valueLabels: "show",
      formatter: function(value){
        var month = value.getMonth() + 1;
        var day = value.getDate();
        return "" + value.getFullYear() + "-" + (month < 10 ? "0" + month : month) + "-" + (day < 10 ? "0" + day : day);
      },
      durationIn: 0,
      durationOut: 400,
      delayOut: 200
    });
  })
</script>

<div id='searchbar'></div>
<div id="map_canvas"></div>


<script type='template' id='searchbar_tmpl'>

  <div class="clearfix">
     <div class="input">
       <div class="input-prepend">
         <span class="add-on">Søk</span>
         <input class="large" id="search_field" size="16" type="text">
       </div>
     </div>
  </div>
  <div id='loading_container'>
  <%=image_tag "loader.gif", :alt => ""%>
  </div>
<div class="clearfix"><h3 id='status'></h3></div>


<h3>Tema</h3>
<div class="clearfix">
   <div class="input">
      <ul class="inputs-list" id='category_list'></ul>
   </div>
</div>

<h3>Målgruppe</h3>
<div class="clearfix">
   <div class="input">
      <ul class="inputs-list" id='target_list'></ul>
   </div>
</div>

<br/>
<h3>Region</h3>

<select name="regionSelect" id="region_select">
  <option value=''>Alle</option>
</select>

<br/><br/>
<h3>Når</h3>
<br/><br/>
<div id='date_selector'></div>
</script>

<script type='template', id='activity_tmpl'>
    <div class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>{{summary}}</h3>
      </div>
      <div class="modal-body">
        <p>{{description}}</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn primary">Les mer</a>
      </div>
    </div>


<div class='popover'>Hey</div>
  <a href="#" class="btn danger" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">hover for popover</a>
</script>

<script type='template' id='category_tmpl'>
    <label>
      <input type="checkbox" class="category_box" _id="{{_id}}">
      <span>{{name}}</span>
    </label>
</script>

<script type='template' id='target_tmpl'>
    <label>
      <input type="checkbox" class='target_box' name="{{name}}">
      <span>{{name}}</span>
    </label>
</script>


