
<div class="page-header">
     <h1>Brukere <small>administrer brukere her</small></h1>
</div>

<div class='well'>
  <%=link_to "Lag ny bruker", new_admin_user_url, :class => "btn"%>
</div>

   <div class="row">
     <div class="span16">
       <table class="zebra-striped">
      <thead>
      <th>E-post</th>
      <th>Region</th>
      <th>Lokasjon</th>
    <th>Super Admin</th>
      <th>&nbsp;</th>
      </thead>
      <tbody>
      <%for user in @users%>
        <tr>
          <td><%=link_to user.email, admin_user_url(user)%></td>
          <td><%=user.region.name rescue nil%></td>
          <td><%=user.location.name rescue nil%></td>
          <td><%=user.is_super_admin? ? 'Ja' : 'Nei'%></td>
          <td><%=link_to "Endre bruker", "/admin/users/#{user.id}/edit"%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
     </div>
   </div>



